body {
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: center;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.text_margin {
    margin-left: 34px;
    margin-right: 32px;
}

.text_flow {
    margin-bottom: 23px;
    text-align: left;
    width: 222px;
}

.text_settings {
    color: #fff;
    margin-left: 5px;
    margin-right: 11px;
}

.top-text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.top {
    background: #E0E1E2;
    padding-top: 25px;
    padding-bottom: 48px;
}

.top_img {
    margin-top: 94px;
    height: 230px;
    background-image: url(images/MX-Master\ 1.png);
    background-size: contain;
    margin-bottom: 41px;
    background-repeat: no-repeat;
    background-position: center;
}

.top_arrow {
    margin-top: 40px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 22px;
}

.bluetooth_icon {
    margin-bottom: 27px;
}

.bluetooth_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.bluetooth_img {
    height: 284px;
    background-image: url(images/High_Resolution_PNG-MX_Master_3_LEFT_GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info_item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    padding-left: 17px;
    padding-right: 17px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.info_text {
    margin-left: 67px;
    margin-right: 61px;
}

.info_item-heading {
    margin-bottom: 5px;
}

.carousel {
    margin-bottom: 100px;
}

.flow_ol {
    margin-top: 36px;
    padding-left: 54px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 0.47px;
    background-color: #EDEDED;
}

.flow_img {
    background-image: url(images/High_Resolution_JPG-MX_Lifestyle_2346\ 1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 318px;
    padding-top: 70px;
    background-size: contain;
}

.settings {
    padding-top: 70px;
    background: #EDEDED;
}

.settings_slider {
    margin: 35px 22px 98px 23px;
}

.settings_content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings_icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mouse__text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse__img {
    height: 310px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mouse__img__1 {
    background-image: url(images/High_Resolution_JPG-MX_Master_Lifestyle_2602_SpaceGrey_for_MAC\ 2.png);
}

.mouse__img__2 {
    background-image: url(images/image\ 2.jpg);
}

.footer {
    background: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;
}

@media (min-width: 768px) {
    .top {
        padding-top: 54px;
        padding-bottom: 80px;
    }
    .top_img {
        margin-top: 159px;
        height: 514px;
        margin-bottom: 124px;
    }
    .header__logo {
        width: 240px;
    }
    .heading {
        font-size: 40px;
        Line-height: 47px;
        margin-bottom: 30px;
    }
    .text {
        font-size: 24px;
        line-height: 28px;
    }
    .text_margin {
        margin-left: 77px;
        margin-right: 77px;
    }
    .top-text-margin {
        margin-left: 159px;
        margin-right: 159px;
    }
    .top_arrow {
        margin-top: 76px;
    }
    .top__svg {
        width: 61px;
        height: 33px;
    }
    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }
    .bluetooth_heading {
        font-size: 150px;
        line-height: 176px;
    }
    .bluetooth_img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }
    .info_content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }
    .info_item-heading {
        margin-bottom: 5px;
    }
    .info_item {
        min-height: 170px;
    }
    .info_heading {
        font-size: 24px;
        line-height: 28px;
    }
    .flow {
        padding-left: 64px;
        padding-right: 65px;
    }
    .text_flow-p {
        margin-left: 0px;
        margin-right: 0px;
    }
    .flow_ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0px;
    }
    .text_flow {
        width: auto;
        padding: 8px 21px 4px 28px;
        border-left: 1px solid black;
        font-size: 20px;
        line-height: 23px;
    }
    .text_flow:first-child {
        border-left: none;
        padding-left: 0;
    }
    .text_flow:last-child {
        padding-right: 0;
    }
    .settings {
        padding-bottom: 70px;
    }
    .settings__content {
        height: 196px;
        margin-left: 64px;
        margin-right: 65px;
        background: #C4C4C4
    }
    .settings__icons {
        height: 98px;
        margin-right: 70px;
        margin-left: 70px;
    }
    .settings__img {
        height: 50px;
        margin: 24px 10px;
    }
    .settings__slider {
        margin: 54px 198px 150px;
    }
    .heading_settings {
        margin-left: 64px;
        margin-right: 65px;
    }
    .text_settings-p {
        margin-left: 64px;
        margin-right: 65px;
    }
    .text_settings {
        height: 69px;
        font-size: 23px;
        line-height: 23px;
        text-align: center;
    }
    .text_mouse {
        margin-left: 0px;
        margin-right: 0px;
    }
    .mouse__text {
        padding-left: 67px;
        padding-right: 64px;
        padding-bottom: 50px;
    }
    .mouse__img {
        height: 549px;
    }
    .mouse__img__1 {
        background-image: url(images/High_Resolution_JPG-MX_Master1_Lifestyle_2602_SpaceGrey_for_MAC\ 2.jpg);
    }
    .mouse__img__2 {
        background-image: url(images/image1_2\ .jpg);
    }
    .footer {
        font-size: 14px;
        line-height: 16px;
        height: 150px;
        padding-top: 47px;
    }
}

@media (min-width: 1024px) {
    .center {
        padding-left: calc(50%-580px);
        padding-right: calc(50%-580px);
    }
}